.table {
  width: 1024px;
}

.table td,
th {
  border-bottom: 1px solid #ddd;
  padding: 20px 0px 20px 0px;
  text-align: center;
  width: 14.28%;
}

.table-responsive {
  overflow-x: auto;
}


.container-pagination{
  padding-right: 25px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content:right;
  align-items: center;
}

.footer-pagination {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
}

