<div class="card">
  <header class="header-form">
    <h1>Formulario de Registro</h1>
  </header>
  <div class="body-form">
    <form>
      <div class="form-row">
        <div>
          <label for="">ID</label>
          <input type="text" name="" class="form-field" required>
        </div>
        <div>
          <label for="">Nombre</label>
          <input type="text" name="" id="" class="form-field">
        </div>
      </div>
      <div class="form-row">
        <div>
          <label for="">Descripción</label>
          <input type="text" name="" class="form-field" required>
        </div>
        <div>
          <label for="">Logo</label>
          <input type="text" name="" id="" class="form-field">
        </div>
      </div>
      <div class="form-row">
        <div>
          <label for="">Fecha de liberación</label>
          <input type="date" name="" class="form-field" required>
        </div>
        <div>
          <label for="">Fecha de revisión</label>
          <input type="date" name="" id="" class="form-field">
        </div>
      </div>
      <div class="form-row">
        <div>
          <button type="button" class="btn btn-secondary">Reiniciar</button>
        </div>
        <div>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>
